version: "1.0"

# networks:
#   default:
#     external:
#       name: ${NETWORK_NAME}
services:
  minio:
    container_name: ${MINIO_CONTAINER_NAME}
    image: minio/minio
    restart: unless-stopped
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_DASHBOARD_PORT}:9001"
    volumes:
      - minio-data:/data
    environment:
      MINIO_REGION_NAME: ${MINIO_REGION_NAME}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"

  minio-client:
    image: minio/mc
    entrypoint: ["/bin/sh", "-c"]
    depends_on:
      - minio
    command:
      - |
        mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}
        mc mb --ignore-existing local/${MINIO_COLLECTION_BUCKET}
        mc mb --ignore-existing local/${MINIO_ITEM_BUCKET}
        mc mb --ignore-existing local/${MINIO_IMAGE_BUCKET}
        mc mb --ignore-existing local/${MINIO_VIDEO_BUCKET}
        mc mb --ignore-existing local/${MINIO_DOC_BUCKET}
        mc mb --ignore-existing local/${MINIO_DOC_DEFAULT_BUCKET}
        mc anonymous set download local/${MINIO_COLLECTION_BUCKET}
        mc anonymous set download local/${MINIO_ITEM_BUCKET}
        mc anonymous set download local/${MINIO_IMAGE_BUCKET}
        mc anonymous set download local/${MINIO_VIDEO_BUCKET}
        mc anonymous set download local/${MINIO_DOC_BUCKET}
        mc anonymous set download local/${MINIO_DOC_DEFAULT_BUCKET}
    env_file:
      - .env
volumes:
  minio-data:
    driver: local
