# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env.dev
.env.prod
.env.staging
.env.local
.env.main
.idea
.idea/*
.vscode
#sublime
*.sublime-workspace
*.sublime-project

# dependencies
mini-app/node_modules
mini-app/yarn.lock
mini-app/.pnp
mini-app/.pnp.js

client-web-panel/node_modules
client-web-panel/.next
client-web-panel/.env

# testing
mini-app/coverage

# next.js
mini-app/.next/
mini-app/out/
client-web-panel/out/
# production
mini-app/build
client-web-panel/build

# misc
mini-app/.DS_Store
mini-app/*.pem

# debug
mini-app/npm-debug.log*
mini-app/yarn-debug.log*
mini-app/yarn-error.log*

# local env files
mini-app/.env*.local
# vercel
mini-app/.vercel

# typescript
mini-app/*.tsbuildinfo
mini-app/next-env.d.ts

data/clamav_data/*
data/db_data
data/minio_data/*
data/redis_data/*
data/drizzle_data/*
devops/env_stages/.env.prod
devops/env_stages/*

.DS_Store

node_modules
*/node_modules
.env
.vscode/settings.json
mini-app/onton.code-workspace
mini-app/Onton.session.sql


*/pnpm-lock.yaml

mini-app/.env.sentry-build-plugin
mini-app/bun.lock
