version: "3.8"

services:
  mini-app:
    build: ./mini-app
    ports:
      - "3000:3000"
    restart: "unless-stopped"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres
      - golang-server
      - golang-worker

  telegram-bot:
    build: ./telegram-bot
    ports:
      - "3333:3333"
    restart: "unless-stopped"
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres

  golang-server:
    build:
      context: ./golang-server
      dockerfile: ./server/Dockerfile
    ports:
      - "9999:9999"
    depends_on:
      - redis

  golang-worker:
    build:
      context: ./golang-server
      dockerfile: ./worker/Dockerfile
    depends_on:
      - redis

  giveaway-checker:
    build:
      context: ./giveaway-checker
      dockerfile: Dockerfile
    environment:
      TONAPI_API_KEY: ${TONAPI_API_KEY}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres

  postgres:
    image: postgres:15.3-alpine
    restart: "unless-stopped"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2.2
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
    command: redis-server --appendonly yes

  migrator:
    build:
      context: ./mini-app/database-management
      dockerfile: Dockerfile
      target: ${ENVIROMENT}
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - mini-app
      - postgres
volumes:
  pgdata:
