x-common-env: &common-env
  ACME_AGREE: true
  BOT_TOKEN: ${BOT_TOKEN}
  CLIENT_WEB_DOMAIN: ${CLIENT_WEB_DOMAIN}
  DATABASE_URL: ${DATABASE_URL}
  DATABASE_URL_NFT_MANAGER: ${DATABASE_URL_NFT_MANAGER}
  ENV: ${ENV}
  GOLANG_SERVER_PORT: ${GOLANG_SERVER_PORT}
  IP_CLAMAV: ${IP_CLAMAV}
  IP_CLIENT_WEB: ${IP_CLIENT_WEB}
  IP_METABASE: ${IP_METABASE}
  IP_MINI_APP: ${IP_MINI_APP}
  IP_MINIO: ${IP_MINIO}
  IP_PARTICIPANT_TMA: ${IP_PARTICIPANT_TMA}
  IP_PGADMIN: ${IP_PGADMIN}
  IP_RANGE_BASE: ${IP_RANGE_BASE}
  IP_SWAGGER_UI: ${IP_SWAGGER_UI}
  IP_TELEGRAM_BOT: ${IP_TELEGRAM_BOT}
  IP_WEBSITE: ${IP_WEBSITE}
  IP_NFT_MANAGER: ${IP_NFT_MANAGER}
  LOCAL_DOMAIN: ${LOCAL_DOMAIN}
  METABASE_DOMAIN: ${METABASE_DOMAIN}
  MINI_APP_DOMAIN: ${MINI_APP_DOMAIN}
  MINI_APP_PORT: ${MINI_APP_PORT}
  MINIO_COLLECTION_BUCKET: ${MINIO_COLLECTION_BUCKET}
  MINIO_DASHBOARD_PORT: ${MINIO_DASHBOARD_PORT}
  MINIO_DOC_BUCKET: ${MINIO_DOC_BUCKET}
  MINIO_DOC_DEFAULT_BUCKET: ${MINIO_DOC_DEFAULT_BUCKET}
  MINIO_ENDPOINT: ${MINIO_ENDPOINT}
  MINIO_IMAGE_BUCKET: ${MINIO_IMAGE_BUCKET}
  MINIO_ITEM_BUCKET: ${MINIO_ITEM_BUCKET}
  MINIO_PORT: ${MINIO_PORT}
  MINIO_PUBLIC_URL: ${MINIO_PUBLIC_URL}
  MINIO_REGION_NAME: ${MINIO_REGION_NAME}
  MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
  MINIO_ROOT_USER: ${MINIO_ROOT_USER}
  MINIO_SBT_COLLECTIONS_BUCKET: ${MINIO_SBT_COLLECTIONS_BUCKET}
  MINIO_STORAGE_ADMIN_DOMAIN: ${MINIO_STORAGE_ADMIN_DOMAIN}
  MINIO_STORAGE_DOMAIN: ${MINIO_STORAGE_DOMAIN}
  MINIO_VIDEO_BUCKET: ${MINIO_VIDEO_BUCKET}
  MONITORING_DOMAIN: ${MONITORING_DOMAIN}
  NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL}
  NEXT_PUBLIC_APP_BASE_URL: ${NEXT_PUBLIC_APP_BASE_URL}
  NEXT_PUBLIC_GTM: ${NEXT_PUBLIC_GTM}
  NEXT_PUBLIC_BOT_USERNAME: ${NEXT_PUBLIC_BOT_USERNAME}
  NODE_ENV: ${NODE_ENV}
  NODE_TLS_REJECT_UNAUTHORIZED: ${NODE_TLS_REJECT_UNAUTHORIZED}
  ONTON_API_KEY: ${ONTON_API_KEY}
  ONTON_DOMAIN: ${ONTON_DOMAIN}
  PARTICIPANT_TMA_PORT: ${PARTICIPANT_TMA_PORT}
  PGADMIN_DOMAIN: ${PGADMIN_DOMAIN}
  PORT_CLIENT_WEB: ${PORT_CLIENT_WEB}
  CLAMAV_PORT: ${CLAMAV_PORT}
  PORT_METABASE: ${PORT_METABASE}
  PORT_PGADMIN: ${PORT_PGADMIN}
  PORT_WEB_SITE: ${PORT_WEB_SITE}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  POSTGRES_PORT: ${POSTGRES_PORT}
  POSTGRES_USER: ${POSTGRES_USER}
  NFT_MANAGER_PORT: ${NFT_MANAGER_PORT}
  REDIS_DATABASES: ${REDIS_DATABASES}
  REDIS_HOST: ${IP_REDIS}
  REDIS_PASSWORD: ${REDIS_PASSWORD}
  REDIS_PORT: ${REDIS_PORT}
  TELEGRAM_BOT_PORT: ${TELEGRAM_BOT_PORT}
  TG_NOTIFICATION_CHANELL: ${TG_NOTIFICATION_CHANELL}
  TONAPI_API_KEY: ${TONAPI_API_KEY}
  TON_CENTER_TOKEN: ${TON_CENTER_TOKEN}
  TON_CENTER_ENDPOINT: ${TON_CENTER_ENDPOINT}

services:
  mini-app:
    build:
      context: ./mini-app  
      dockerfile: Dockerfile  
      target: development
      args:
        <<: *common-env  

  mini-app-cron:
    build:
      context: ./mini-app  
      dockerfile: Dockerfile  
      target: development
      args:
        <<: *common-env  

  telegram-bot:
    build:
      context: ./telegram-bot  
      dockerfile: Dockerfile
      target: development
      args:
        <<: *common-env  

  client-web:
    build:
      context: ./client-web-panel  
      dockerfile: Dockerfile  
      target: development
      args:
        <<: *common-env  

  participant-tma:
    build:
      context: ./newton/
      dockerfile: ./apps/participant-tma/Dockerfile
      target: development
      args:
        <<: *common-env  

  nft-microservice:
    build:
      context: ./newton/  
      dockerfile: ./apps/nft-manager/Dockerfile
      target: development
      args:
        <<: *common-env  

  giveaway-checker:
    build:
      context: ./giveaway-checker  
      dockerfile: Dockerfile  
      args:
        <<: *common-env  

  website:
    build:
      context: ./website  
      dockerfile: Dockerfile
      target: development
      args:
        <<: *common-env  


