
services:
  mini-app:
    build:
      context: ./mini-app
      dockerfile: Dockerfile
      target: development
#    volumes:
#        - mini-app:/app/node_modules


  mini-app-cron:
    build:
      context: ./mini-app
      dockerfile: Dockerfile
      target: development
      args:
        <<: *common-env
    volumes:
      - mini-app-cron:/app/node_modules

  telegram-bot:
    build:
      context: ./telegram-bot  
      dockerfile: Dockerfile
      target: development
      args:
        <<: *common-env  
    volumes:
        - telegram-bot:/app/node_modules
  client-web:
    build:
      context: ./client-web-panel  
      dockerfile: Dockerfile  
      target: development
      args:
        <<: *common-env
    volumes:
        - client-web:/app/node_modules

  participant-tma:
    build:
      context: ./newton/
      dockerfile: ./apps/participant-tma/Dockerfile
      target: development
      args:
        <<: *common-env
    volumes:
        - participant-tma:/app/node_modules

  nft-microservice:
    build:
      context: ./newton/  
      dockerfile: ./apps/nft-manager/Dockerfile
      target: development
      args:
        <<: *common-env
    volumes:
        - nft-microservice:/app/node_modules

  giveaway-checker:
    build:
      context: ./giveaway-checker  
      dockerfile: Dockerfile  
      args:
        <<: *common-env  

  website:
    build:
      context: ./website  
      dockerfile: Dockerfile
      target: development
      args:
        <<: *common-env
    volumes:
        - website:/app/node_modules

volumes:
    mini-app:
    mini-app-cron:
    telegram-bot:
    client-web:
    participant-tma:
    nft-microservice:
    website:
