version: "3.8"

services:
  mini-app:
    build: ./mini-app
    ports:
      - "3000:3000"
    restart: "unless-stopped"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres
      - golang-server
      - golang-worker
    volumes:
      - drizzle:/app/drizzle

  telegram-bot:
    build: ./telegram-bot
    ports:
      - "3333:3333"
    restart: "unless-stopped"
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres

  golang-server:
    build:
      context: ./golang-server
      dockerfile: ./server/Dockerfile
    ports:
      - "9999:9999"
    depends_on:
      - redis

  golang-worker:
    build:
      context: ./golang-server
      dockerfile: ./worker/Dockerfile
    depends_on:
      - redis

  giveaway-checker:
    build:
      context: ./giveaway-checker
      dockerfile: Dockerfile
    environment:
      TONAPI_API_KEY: ${TONAPI_API_KEY}
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - postgres
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - 3554:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase 
      MB_DB_PORT: 5432
      MB_DB_USER: ${POSTGRES_USER}
      MB_DB_PASS: ${POSTGRES_PASSWORD}
      MB_DB_HOST: postgres
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
  postgres:
    image: postgres:latest
    restart: "unless-stopped"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2.2
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
    command: redis-server --appendonly yes

  migrator:
    build:
      context: ./mini-app/database-management
      dockerfile: Dockerfile
      target: ${ENVIROMENT}
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - mini-app
      - postgres
    volumes:
      - drizzle:/app/drizzle

volumes:
  pgdata:
  drizzle:  
