.dashboardLink ,.dashboardText {
  display: flex;         /* Establishes a flex container */
  align-items: center;   /* Vertically centers the flex items */
  justify-content: right;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1rem;
}
.dashboardText{
  font-size:1.2rem;
  font-weight: 600;
  color: #f5f5f5;
}
.linkContainer {
  display: flex;       /* Aligns children (links) in a row */
  width: 100%;
  margin-top: 15px;

  /* Add other styling as needed */
}
.dashboardLink:first-child{
  float: left;
}
.dashboardLink:last-child{
  margin-left: 10px;
}
.dashboardLink:hover{
  color: #fdd201;
  font-weight: bolder;
}
.dashboardLink{
  margin-right: 10px;

}
.dashboardLink svg{
  margin-right: 5px;
  font-size: 13px!important;
}
