@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue",
    Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

/*html, body, #root {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*  overscroll-behavior: none;*/
/*}*/
/*#root {*/
/*  !* Preserve scrolling behavior *!*/
/*  overflow-y: auto;*/
/*}*/

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  margin: 0;
}
#root,body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: env(safe-area-inset-bottom);
}