.emptyList {
    @apply flex flex-col justify-center gap-6 items-center h-full overflow-hidden;
    @apply bg-white rounded-[10px];
}

.emptyList-helper {
    @apply flex flex-col items-center gap-3;
}

.listItem {
    @apply bg-white rounded-[10px];
    @apply flex gap-3 mb-3;
    @apply p-3;
}

.listItem-avatar {
    @apply rounded-[10px] w-12 h-12 min-w-12 grow-0;
}

.listItem-data {
    @apply flex flex-col gap-2 grow;
}

.listItem-role--admin {
    @apply text-[#ff9500];
}

.listItem-role--officer {
    @apply text-[#34C759];
}

.listItem-checkbox {
    @apply flex flex-col justify-center;
}

.footer {
    @apply p-4 bg-white;

    box-shadow: 0px -1px 4px 0px #0000001A;
}

.addFooter {
    @apply p-4 -m-4 mt-auto bg-white;
    box-shadow: 0px -1px 4px 0px #0000001A;
}