.emptyList {
  @apply flex flex-col justify-center gap-6 items-center py-10 overflow-hidden;
  @apply bg-white rounded-[10px];
}

.emptyList-helper {
  @apply flex flex-col items-center gap-3;
}

.listItem {
  @apply bg-white rounded-[10px];
  @apply flex gap-3 mb-3;
  @apply p-3;
}

.listItem-avatar {
  @apply rounded-[10px] w-12 h-12 min-w-12 grow-0;
}

.listItem-data {
  @apply flex flex-col gap-2 grow;
}
.listItem-role--admin {
  background: linear-gradient(45deg, #e86310ff, #efca12 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.listItem-role--officer {
  background: linear-gradient(45deg, #11b187, #78da37 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.listItem-checkbox {
  @apply flex flex-col justify-center;
}

.footer {
  @apply p-4 bg-white;

  box-shadow: 0px -1px 4px 0px #0000001a;
}

.addFooter {
  @apply p-4 -m-4 mt-auto bg-white;
  box-shadow: 0px -1px 4px 0px #0000001a;
}
