/* Custom styles for the Quill toolbar */
.ql-toolbar {
    background-color: darkgray;

}

.ql-container {
    min-height: 200px;
    border: 1px solid hsl(var(--muted)); /* Apply custom border color */
    border-radius: 4px; /* Optional: Adjust border-radius */
}
/* Optional: Style the buttons and icons inside the toolbar */
.ql-toolbar .ql-formats button,
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-options {
    color: #EEE; /* Set the icon color */
}

/* Style for the editor content */
.ql-toolbar.ql-snow{
    /* You can customize the height as needed */
    border: 1px solid hsl(var(--muted));

}
/* Custom font size for editor content */
.ql-editor {
    font-size: 16px; /* Adjust the default font size */
}

/* Placeholder color */
.ql-editor.ql-blank::before {
    color: #AAA; /* Set the placeholder color to #EEE */
    font-style: italic; /* Optional: make the placeholder text italic */
    font-size: 16px; /* Make sure the placeholder font size matches the editor */
}
