.banner-bg {
  background:
    url("/pana.svg") no-repeat,
    linear-gradient(
      99.11deg,
      rgba(10, 28, 51, 0.9) -1.37%,
      rgba(23, 54, 101, 0.9) 35.86%,
      rgba(20, 51, 95, 0.9) 70.65%,
      rgba(28, 63, 117, 0.9) 120.7%
    ),
    linear-gradient(83.82deg, rgba(0, 0, 0, 0) 1.52%, rgba(0, 0, 0, 0.2) 37.49%);
  background-size:
    auto 100%,
    /* for the SVG */ cover,
    /* for the first gradient */ cover; /* for the second gradient */
  background-repeat: no-repeat;
  background-position:
    97% 0,
    center,
    center;
}
