services:
  caddy:
    image: ${REGISTRY_URL}/${GITHUB_REPO}/caddy:main-latest
    hostname: caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    extra_hosts:
      - host.docker.internal:host-gateway
    depends_on:
      - fluentd
    deploy:
      resources:
        limits:
          memory: 6000M
          cpus: '4.0'
      mode: global
      update_config:
        failure_action: rollback
        order: start-first
        parallelism: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 3s
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - /home/tonont/caddy/:/etc/caddy/
      - ../cert/:/certs
    networks:
      - caddy-network
    environment:
      USE_CLOUDFLARE: ${USE_CLOUDFLARE}
      CLOUDFLARE_EMAIL: ${CLOUDFLARE_EMAIL:-}
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN:-}
      CLOUDFLARE_EMAIL_MAIN: ${CLOUDFLARE_EMAIL_MAIN:-}
      CLOUDFLARE_API_TOKEN_MAIN: ${CLOUDFLARE_API_TOKEN_MAIN:-}
      BRANCH_NAME: ${BRANCH_NAME}
      KIBANA_USERNAME: ${KIBANA_USERNAME}
      KIBANA_HASHED_PASSWORD: ${KIBANA_HASHED_PASSWORD}
    secrets:
      - registry-onton-config


  registry:
    image: registry:latest
    hostname: registry
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/registry.password
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
      SHOW_CONTENT_DIGEST: "true"
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
    volumes:
      # Mount the password file
      - /home/tonont/registry/registry.password:/auth/registry.password
      # Mount the data directory
      - registry_data:/data
    deploy:
      resources:
        limits:
          memory: 4000M
          cpus: '2.0'
      mode: global
      update_config:
        failure_action: rollback
        order: stop-first
        parallelism: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 10s
    networks:
      - caddy-network


  registry-ui:
    image: joxit/docker-registry-ui:latest
    hostname: registry-ui
    environment:
      REGISTRY_TITLE: "ONTON Docker Registry UI"
      NGINX_PROXY_PASS_URL: "http://registry:5000"
      DELETE_IMAGES: "true"
    networks:
      - caddy-network


  elasticsearch:
    image:  docker.elastic.co/elasticsearch/elasticsearch:9.0.0
    hostname: elasticsearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=true
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    deploy:
      resources:
        limits:
          memory: 12g
          cpus: '4.0'
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - caddy-network
  #  prometheus:
  #    image: prom/prometheus:latest
  #    hostname: prometheus
  #    ports:
  #      - "9090:9090"
  #    volumes:
  #      - ../prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  #    deploy:
  #      resources:
  #        limits:
  #          memory: 2g
  #          cpus: '2.0'
  #      replicas: 1
  #      restart_policy:
  #        condition: on-failure
  #    networks:
  #      - caddy-network

  fluentd:
    image: fluent/fluentd:v1.18-debian-1
    hostname: fluentd
    user: root # Run as root to install plugins
    deploy:
      resources:
        limits:
          memory: 5g
          cpus: '2.0'
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 2
        delay: 10s
        order: start-first
        failure_action: rollback
    ports:
      - "24224:24224"
      - "24224:24224/udp"
    volumes:
      - ../fluent/fluent.conf:/fluentd/etc/fluent.conf
    entrypoint: >
      /bin/sh -c "
      apt-get update -y &&
      apt-get install curl -y &&
      gem install fluent-plugin-concat &&
      gem install fluent-plugin-elasticsearch  &&
      gem install fluent-plugin-prometheus &&
      gem install fluent-plugin-prometheus-pull &&
      fluentd -c /fluentd/etc/fluent.conf -v
      "
    environment:
      FLUENT_ELASTICSEARCH_HOST: elasticsearch
      FLUENT_ELASTICSEARCH_PORT: 9200
    depends_on:
      - elasticsearch
    networks:
      - caddy-network

  kibana:
    image: docker.elastic.co/kibana/kibana:9.0.0
    hostname: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    deploy:
      resources:
        limits:
          memory: 2g
          cpus: '1.0'
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "5601:5601"
    networks:
      - caddy-network

#  cadvisor:
#    image: gcr.io/cadvisor/cadvisor:v0.47.0
#    hostname: cadvisor
#    privileged: true
#    ports:
#      - "8080:8080"
#    volumes:
#      - "/:/rootfs"
#      - "/var/run:/var/run"
#      - "/sys:/sys"
#      - "/home/tonont/docker-volumes/docker/:/var/lib/docker"
#      - "/dev/disk/:/dev/disk"
#      - /dev/kmsg:/dev/kmsg
#      - /var/run/docker.sock:/var/run/docker.sock
#      - /sys/fs/cgroup:/sys/fs/cgroup
#    deploy:
#      resources:
#        limits:
#          memory: 1g
#          cpus: '1.0'
#      replicas: 1
#      restart_policy:
#        condition: on-failure
#    networks:
#      - caddy-network


networks:
  caddy-network:
    name: caddy-network
    driver: overlay
    external: true

volumes:
  caddy_data:
    name: "server_caddy_data"
  caddy_config:
    name: "server_caddy_config"
  registry_data:
    name: "server_registry_data"
  elasticsearch_data:
    name: "server_elasticsearch_data"
secrets:
  registry-onton-config:
    external: true
